.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8%;
  justify-content: space-evenly;
  width: 100%;
}
.compButtons {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  background: none;
}
.compButtons:hover {
  background: rgb(54, 54, 73);
  color: aliceblue;
}
.active {
  background: rgb(54, 54, 73);
  color: aliceblue;
}
.compContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: space-evenly;
  width: 100%;
}
.textContainer {
  display: flex;
  flex-direction: column;
}
.result-container {
  margin-top: 40px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.docContainer {
  max-width: 200px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.imageCont {
  padding: 10px;
  font-size: 18px;
}
input {
  width: 300px;
  height: 40px;
  margin-top: 10px;
}
.actionbtn {
  margin: 20px 20px;
}
.remNtn {
  margin-left: 10px;
}

.languagecontainer {
  display: flex;
  justify-content: end;
}
.selectfield {
  width: 200px;
  height: 30px;
  margin-top: 10px;
}
.LangSelector {
  margin-top: 10px;
  margin-right: -300px;
}
.selectDiv {
  margin-right: -300px;
}
.resultBtn {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: none;
  cursor: pointer;
}
